.robot-container {
  background-color: blue;
  position: relative;
top: 300px;

}


.robot-face-shape {
  height: 550px;
  width: 1000px;
  background-color: #585252;
  border-radius: 50%;
  position: relative;
  left: 500px;
}

.robot-eye-left {
     height: 50px;
  width: 50px;
  background-color: #BF0D0D;
  border-radius: 50%; 
      border-style: solid;
  border-color: rgb(22, 22, 22);
  position: relative;
  left: 300px;
  top: 150px;
}

.robot-eye-right {
    height: 50px;
  width: 50px;
  background-color: #BF0D0D;
  border-radius: 50%; 
    border-style: solid;
  border-color: rgb(22, 22, 22);
    position: relative;
  left: 650px;
  top: 100px;
}

.robot-ear-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #585252;
	border-bottom: 50px solid transparent;
    position: relative;
  left: 1475px;
  top: -325px;
}


.robot-ear-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #585252;
	border-bottom: 50px solid transparent;
    position: relative;
    left: 425px;
    top: -450px;
}

.robot-nose {
	border-bottom: 50px solid blue;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 175px;
       position: relative;
  left: 415px;
  top: 150px;
}

.robot-teeth {

}

.robot-tooth {

}

.robot-hair-style {

}

.robot-hair-one {

}

.robot-hair-two {

}

.robot-hair-three {

}
