.robot-container {
  background-color: blue;
  position: relative;
top: 300px;

}


.robot-face-shape {
  height: 550px;
  width: 1000px;
  background: linear-gradient(
    to bottom,
    #585252 0%,
    rgba(88, 82, 82, 0.6) 80%,
    rgba(88, 82, 82, 0.2) 100%);
    border: 5px solid #3e3a3a;
  border-radius: 50%;
  position: relative;
  left: 500px;
  top: 150px;
}

.robot-eye-left {
     height: 50px;
  width: 50px;
  background-color: #BF0D0D;
  border-radius: 50%; 
      border-style: solid;
  border-color: rgb(22, 22, 22);
  position: relative;
  left: 300px;
  top: 150px;
}

.robot-eye-right {
    height: 50px;
  width: 50px;
  background-color: #BF0D0D;
  border-radius: 50%; 
    border-style: solid;
  border-color: rgb(22, 22, 22);
    position: relative;
  left: 650px;
  top: 100px;
}

.robot-ear-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #585252;
	border-bottom: 50px solid transparent;
    position: relative;
  left: 1475px;
  top: -200px;
}


.robot-ear-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #585252;
	border-bottom: 50px solid transparent;
    position: relative;
    left: 425px;
    top: -300px;
}

.robot-nose {
	border-bottom: 75px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 175px;
       position: relative;
  left: 415px;
  top: 125px;
}

.robot-teeth {
  height: 50px;
  width: 25px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
  left: 470px;
  top: 250px;
}

.robot-tooth {
    height: 4px;
    background-color: whitesmoke;
    border-radius: 8px;
    position: relative;
    left: 30px;
    top: 0px;
}

.robot-hair-style {

}

.robot-hair-one {

}

.robot-hair-two {

}

.robot-hair-three {

}
